  <link rel="stylesheet" type="text/css" href="/booking.css">
  <h1><i>Your Bookings:</i></h1>
  <% @bookings.each do |abooking|%>
  <div class = 'booking' id="<%= abooking.id %>">
    <div class="message">
      <%= abooking.request_text.capitalize %>
    </div>
    <div class="statusdisplay">
      <%= abooking.status.capitalize %>
    </div>
    <form class = "formdisplay" action='/booking/<%= abooking.id %>' method='post'>
      <input type='hidden' value='patch' name="_method">
      <button type='submit' class= 'approve' name='status' value='approved'>
        Approve
      </button>
      <button type='submit' class= 'reject' name='status' value='rejected'>
        Reject
      </button>
    </form>
  </div>
  <%end%>
  <form method="get" action="/spaces">
    <input type='submit' value='Back'>
  </form>
