<form action='/space' method='post'>
  Name: <input type='text' name='name'>
  Description: <input type='textarea' name='description'>
  Price (£): <input type='number' name='price'>
  <input type='submit' value='Submit'>
</form>