<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/sleeper.css">
</head>

</script>
</head>
<div class="page" >

<form action='/space' method='post' class= 'middle'>
  <div class='form-item'>Name: <br>  <input type='text' name='name'></div>
  <div class='form-item'>Description:<br><textarea name="description" rows="3" cols="80"></textarea></div>
  <div class='form-item'>Price (£):<br>  <input type='number' name='price'></div>
  <input type='submit' value='Submit' class="btn-info btn">
</form>

</div>
