
<body style="background: url('http://warm1069.com/wp-content/uploads/2017/05/bigstock-Nighttime-Sky-With-Clouds-And-155650016.jpg')">
 <!-- <img src="https://drive.google.com/open?id=1BBAlqm00hx9gKJ4GV-hplrEtUsmKA_3e"> -->


    <center>

        <h1 style="color: white; font-family: arial"> Login to Sleepers </h1>

   <form action="/login" method="post" >
     Username:<input type="text" name="username">
     Password:<input type="password" name="password">
     <input type="submit" value="log_in">
   </form>

   <form action="/signup" method="get">
     Don't have an account?<br>
       <input type="submit" value="sign_up">
   </form>

    </center>

</body>
