<form action='/login' method='post'>
  <input type="text" name = "username" />
  <input type="password" name="password" />
  <input type='submit' value='log_in'>
</form>
<form action='/signup' method='get'>
  <input type='submit' value='sign_up'>
</form>
