<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<% @my_bookings.each do %>
<% |booking| %>
<div class="booking" >
<%= booking.name %>
<%= booking.request_text %>
<%= booking.status %>
</div>
<br>
<% end %>
<form action= "/spaces" method="get">
  <input type = "submit" value = "Back" class = "btn btn-info">
  </form>
