<form action='/signup' method='post'>
  Name:<input type='text' name='name' required><br>
  Username:<input type='text' name='username' required><br>
  Password:<input type='password' name='password' required><br>
  Email:<input type='email' name='email' required><br>
  <input type='submit' value='submit'>
</form>
