  <head>
    <link rel="stylesheet" type="text/css" href="/sleeper.css">
  </head>
  
  <div class='page'>
    <div class='gallery'>
      <% @spaces.each do |space| %>
        <div class='thumbnail space' id='<%= space.id %>'> 
          <h4><%= space.name %></h4>
          <p class='tag' name='price'>£<%= space.price.round %> per night</p>
          <p class='text_column' name='description'><%= space.description %></p>
        </div>
        
        <form action='/space/:id/booking' method='post'>
            <input type="textarea" name='request_description'>
            <input type='submit' value='Send'>
        </form>
      <% end %>
    </div>  
  </div>  
  

