Welcome <%= @user.name %>
<form action='/log-out' method='get'>
  <input type='submit' value='log-out'>
</form>
<form action='/space/creation' method='get'>
  <input type='submit' value='create-space'>
</form>
