body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #FFFFFF;
	margin: 0;
}

.page {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
	padding-bottom: 35px;
	margin-top: -5px;
  width: 80%;
}

.gallery .space-price {
	margin-bottom: 2px;
}

.gallery .space-name {
	margin-bottom: 5px;
}

.gallery .space-desc {
	color: #B3B3B3;
}

.thumbnail {
  text-align: left;
  width: 24%;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 0.5%;
  margin-right: 0.5%;
  padding-left: 25px;
  padding-right: 25px;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid #6DC7D0;
}

.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
}

.text_column {
	text-align: justify;
	padding: 0;
}