body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #EDFCFB;
	margin: 0;
}

.page {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
  width: 80%;
}

.centered {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
	padding-bottom: 35px;
	margin-top: -5px;
  width: 100%;
  flex-flow: row wrap;
  display: flex;
}

.listing {
  display: flex;
  flex-flow: column;
  margin-left: 2%;
  margin-right: 2%;
  width: 24%;
	margin-top: 35px;
}

.gallery .space-price {
	margin-bottom: 2px;
}

.gallery .space-name {
	margin-bottom: 5px;
}

.gallery .space-desc {
	color: #B3B3B3;
}

.thumbnail {
  text-align: left;
	background-color: #F8F8F8;
	padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
	border-radius: 3px;
	padding-top: 20px;
  border-bottom: 4px solid #6DC7D0;
  margin-bottom: 20px;
}

.form-item {
  margin-bottom: 15px;
}

.booking-submit {
  width: 100%;
}

.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
}

.text_column {
	text-align: justify;
	padding: 0;
}

.left {
	float : left;
}
.button_container{
	display: flex;
	justify-content: center;
	width : 100%;
}

.button_container .btn {
	margin-right: 15px;
	margin-top :10px;
}

.booking {
  display: flex;
}

.booking-field {
  width: 20%;
  margin-right: 30px;
}
